
@{
    ViewData["Title"] = "Admin";
}

<div class="fancy-border-post">
    <h1>Admin</h1>
    <hr />
    <a asp-controller="Admin" asp-action="CreatePost" class="btn btn-info">Create post</a>
    <a  class="btn btn-info" asp-area="" asp-controller="Roles" asp-action="UserList">Manage User</a>
    <a  class="btn btn-info" asp-area="" asp-controller="Roles" asp-action="Create">Manage Role</a>
    <a  class="btn btn-info" asp-area="" asp-controller="Roles" asp-action="Index">Edit Role</a>
</div>
