@model IEnumerable<IdentityRole>
<div class="fancy-border-post">
    <h2>Список ролей</h2>
    <table class="table">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-info">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a class="btn btn-sm btn-primary" asp-action="Create">Добавить роль</a>
    <a class="btn btn-sm btn-primary" asp-action="UserList">Список пользователей</a>
    <hr />
    <a asp-controller="Admin" asp-action="Admin" class="btn btn-info">Cancel</a>
</div>
